[Unit]
Description=Sentinel IoT Secure Gateway
After=network.target

[Service]
# Change <YOUR_USERNAME> to your actual Pi username
User=<YOUR_USERNAME>
WorkingDirectory=/home/<YOUR_USERNAME>/iot_lab/gateway
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /home/<YOUR_USERNAME>/iot_lab/gateway/app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target